@font-face {
    font-family: 'Baloo Bhaijaan 2';
    src: url('../../public/fonts/BalooBhaijaan2/BalooBhaijaan2-VariableFont_wght.ttf') format('truetype');
  }
.font{
    font-family:'Baloo Bhaijaan 2'
}